### Dictionary comprehension

In [8]:
l1=[1,2,3,4,5,6]
l2=[ele**2 for ele in l1]
l2

[1, 4, 9, 16, 25, 36]

In [2]:
d={val:val**2 for val in l1}

In [3]:
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [11]:
s="apple ball cat dog elephant"
d2={word[0]:word for word in s.split()}
d2

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog', 'e': 'elephant'}

In [13]:
d3={word[0]:word.capitalize() for word in s.split()}
d3

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog', 'e': 'Elephant'}

In [14]:
print(l1)
s2="hello hai hru "
s2

[1, 2, 3, 4, 5, 6]

'hello hai hru '

In [15]:
print(l1)
s2="one two three four"
s2

[1, 2, 3, 4, 5, 6]

'one two three four'

In [16]:
list(zip(l1,s2.split()))

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [17]:
{k:v for k,v in zip(l1,s2.split())}

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

## Tuple comprehensions

In [18]:
tuple(val**2 for val in l1)

(1, 4, 9, 16, 25, 36)

** calculate the sum of  first n value

In [24]:
n=int(input())
sum(tuple(e for e in range(1,n+1)))

5

15

In [26]:
n=int(input())
sum([e for e in range(1,n+1) if e%2==0])

5

6

In [29]:
str1=input()
str2=input()
{i:j for i,j in zip(str1.split(),str2.split())}

india pakistan nepal bhutan china bangladesh
newdelhi islamabad katmandu thimdu dhaka beijng

{'india': 'newdelhi',
 'pakistan': 'islamabad',
 'nepal': 'katmandu',
 'bhutan': 'thimdu',
 'china': 'dhaka',
 'bangladesh': 'beijng'}