In [1]:
## write a program to print cubes of 1 to 6  numbers without using loops

In [7]:
l=[1,2,3,4,5,6]
res=lambda x : x**3
list(map(res,l))

[1, 8, 27, 64, 125, 216]

In [6]:
list(map(lambda x :x**3,[1,2,3,4,5,6]))

[1, 8, 27, 64, 125, 216]

### filters
### filter function python in used to check whether given elements in boolen or not(true or false)
### syntax: filter(function,sequence)

In [15]:
#given one list li-[1,2,"q","l"]
def isdigit(a):
    a=str(a)
    if a.isdigit():
        return True
    return False
isdigit("1")

True

In [16]:
li=[1,2,"q","l"]
list(filter(isdigit,li))

[1, 2]

## print all prime numbers for a given range using filter() function

In [19]:
def prime(number):
    count=0
    for i in range(1,number+1):
        if number%i==0:
            count+=1
    if count==2:
        return True
    return False
prime(10)

False

In [20]:
list(filter(prime,range(100,200)))

[101,
 103,
 107,
 109,
 113,
 127,
 131,
 137,
 139,
 149,
 151,
 157,
 163,
 167,
 173,
 179,
 181,
 191,
 193,
 197,
 199]

In [21]:
"".join(filter(str,['1','2','3']))

'123'

In [23]:
"".join(filter(isdigit,['1','2','3']))

'123'

## print the all the numbers  in the range between 20 to 50 using lambda and filter function

In [28]:
a = lambda x: x%2==0
list(filter(a,range(20,51)))

[20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [38]:
from random import randint
def generatemarks(n,lb,ub):
    filename="data.txt"
    with open(filename,"w")as f:
        for i in range(n):
            marks=randint(lb,ub)
            f.write(str(marks)+"\n")
    return
generatemarks(1000,0,100)

# we have to calculate class average 
# pass percentage 
# fail percentage
# distinction by using fiters and lambda function

## given two list l1 and l2, l1 contains first name l2 contains lastname write a program to print single list that should contains fullname of l1 and l2 and first letter  must be capitals

In [46]:
l1=["alekya","gireesha"]
l2=["gangi","devara"]
a=lambda x,y :x[0].upper()+x[1:]+" "+y[0].upper()+y[1:]# L1=ALEKYA l2=gireesha
list(map(a,l1,l2))

['Alekya Gangi', 'Gireesha Devara']

In [48]:
tuple=[1,2,3,4]
tuple

[1, 2, 3, 4]